body{font-family:Comic Sans MS, Arial; background-image:url(background.jpg); background-repeat:repeat-x; background-color:#90509C; font-size:23px; text-align:center;}
h3{font-size:30px;}
h2{color:#323055;}
th,td{font-size:18px;}

